/*// FONT FAMILY HELPERS :)
// font-family: 'Oswald', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Source Sans Pro', sans-serif;
*/

body {
	font-family: 'Source Sans Pro';
	font-size: 18px;
	line-height: 1.5;
	background: #fff;
	color: #444;
}

#header {
	background-color: black;
	width: 100%;
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 3px;
	padding-top: 3px;
}

#header h1 {
	margin-right: 9px;
	color: yellow;
	font-family: 'Merriweather', serif;
	float: left;
}

.clearfix:after {
      content:"";
      display: table;
      clear: both;
}

.nav li	{
	display: inline;
	font-family: 'Oswald';
	color: white;
}

.nav {
	float: right;
	padding-left: 10px;
	list-style-type: none;
	width: 35%;
}

a {
	text-decoration: none;
}

#brains	{
	border-top: 5px solid yellow;
	font-family: 'Merriweather', serif;
	background-color: grey;
	color: black;
	font-style: italic;
	text-align: center;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	/*MAKE PADDING HERE*/
}

.taste	{
	text-decoration: line-through;
	color: yellow;
}

.are {
	border-bottom: 1px yellow solid;
}

#wrapper {
	width: 1000px;
	height: 1000px;
	margin: 0 auto;
	padding: 50;
	background-image: url("../img/coworking.jpg");
}

.border1 {
	border: 2px Red solid;
	opacity: .9;
	width: 35px;
	height: 35px;
}

.c1 {
	color: black;
	font-family: 'Merriweather', serif;
	font-size: 10px;
	float: right;
	text-align: right; 
	height: 10px;
	width: 10px;
	padding-left: 10px;
}

.b1 {
	color: black;
	font-family: 'Merriweather', serif;
	font-size: 20px;
	width: 35px;
	height: 35px;
	background-color: yellow;
}

p {
	font-size: 10px;
	font-family: 'Merriweather', serif;
	width: 20px;
	height: 20px;
	background-color: white;
	float: right;
	text-align: right;
}
.module1 {
	border-right: 1px solid #ddd;
	padding: 27px;
	width: 35px;
	height: 35px;
	background-color: grey;
}

.b2 {
	border: 3px;
	color: black;
	background-color: grey;
	font-family: 'Merriweather', serif;
}

.module2 {
	border-right: 1px solid #ddd;
	padding: 27px;
	width: 35px;
	height: 35px;
	background-color: grey;
}

.b3 {
	order: 3px;
	color: black;
	background-color: grey;
	font-family: 'Merriweather', serif;
}

.module3 {
	border-right: 1px solid #ddd;
	padding: 27px;
	width: 35px;
	height: 35px;
	background-color: grey;	
}

p {
	color: #d00;
	text-decoration: none;
}

